@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";
@import "normalize";
@import "startsettings";


@mixin fontFamily($ff: ('Roboto', sans-serif)) {
    font-family: $ff;
}

@mixin fonts($fsz, $fw, $fc: #000000, $ff: ('Roboto', sans-serif)) {
    font-size: $fsz;
    color: $fc;
    font-weight: $fw;
}



body {
    @include fontFamily();
}

.header {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
        @include fonts(24px, 100, ('Raleway', sans-serif));
    }

    .main_nav > .main_nav_list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        .main_nav_list_item > a{
            @include fonts(12px, 700);
            text-transform: uppercase;
            margin-left: 25px;
        }
    }
}



